Source: ros-melodic-rqt-multiplot
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libqwt-qt5-dev, qtbase5-dev, ros-melodic-catkin, ros-melodic-rosbag, ros-melodic-roscpp, ros-melodic-rqt-gui, ros-melodic-rqt-gui-cpp, ros-melodic-variant-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-rqt-multiplot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqwt-qt5-dev, qtbase5-dev, ros-melodic-rosbag, ros-melodic-roscpp, ros-melodic-rqt-gui, ros-melodic-rqt-gui-cpp, ros-melodic-variant-topic-tools
Description: rqt_multiplot provides a GUI plugin for visualizing numeric values in multiple 2D plots using the Qwt plotting backend.
