Source: ros-kinetic-rqt-multiplot
Section: misc
Priority: extra
Maintainer: Ralf Kaestner <ralf.kaestner@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libqwt-qt5-dev, ros-kinetic-catkin, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-cpp, ros-kinetic-variant-topic-tools
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rqt-multiplot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rosbag, ros-kinetic-roscpp, ros-kinetic-rqt-gui, ros-kinetic-rqt-gui-cpp, ros-kinetic-variant-topic-tools
Description: rqt_multiplot provides a GUI plugin for visualizing numeric values in multiple 2D plots using the Qwt plotting backend.
